@use '../../assets/scss/constants';
@use '../../assets/scss/helper';
@use '../../assets/scss/mixin';
@use 'sass:math';

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: constants.$primary;
	text-align: center;
	&__logo {
		font: {
			size: 2.25rem;
			weight: 700;
		}
		text-decoration: none;
		color: #454545;
		letter-spacing: 1px;
		margin-top: helper.toRem(193);
	}
	&__list {
		margin-top: helper.toRem(21);
	}
	&__item {
		> a {
			font-size: 1.125rem;
			line-height: 2.4;
			letter-spacing: 0.025em;
			text-transform: capitalize;
		}
	}
	.btn--close {
		$size: helper.toRem(14);
		width: $size;
		height: $size;
		padding: 0;
		margin: 0.625rem auto;
		position: relative;
		@include mixin.flexbox();

		&::before, &::after {
			content: '';
			width: $size * math.sqrt(2) ;
			height: 2px;
			background-color: constants.$white;
			position: absolute;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
}
