@use '../../assets/scss/mixin';
@use '../../assets/scss/constants';
@use '../../assets/scss/helper';

.carousel {
	@include mixin.flexbox($col: true);
	&__content {
		display: flex;
		width: 100%;
	}
	&__controller {
		@include mixin.flexbox(space-around, $gap: .75rem);
		margin: {
			top: helper.toRem(21);
			bottom: helper.toRem(69);
		}
		z-index: 1;
		&-btn{
			border: none;
			cursor: pointer;
			width: 1rem;
			aspect-ratio: 1/1;
			border-radius: 50%;
			background-color: #d5d5d5;
			&.active, &:hover {
				background-color: constants.$primary;
			}
			&.active {
				pointer-events: none;
			}
		}
	}
}
