@use '../../assets/scss/mixin';
@use '../../assets/scss/constants';
@use '../../assets/scss/helper';

.footer{
	@include mixin.flexbox(space-evenly, flex-start);
	line-height: 2.1;
	padding-bottom: helper.toRem(100);
	&__item {
		color: constants.$grayText;
		font: {
			size: helper.toRem(15);
			weight: 300;
		}
		> a {
			color: inherit;
			text-decoration: none;
			text-transform: capitalize;
		}
	}
	&__heading{
		color: constants.$primary;
		font: {
			size: helper.toRem(15);
			weight: 300;
		}
	}
}
